@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Quicksand";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #edf0f7;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;

    max-height: -webkit-fill-available;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pages{
    width: 100%;
    height: 92%;
}

.pages section.selected{
    left: 0;
    transition: .5s;
}

.pages section{
    position: absolute;
    width: 100vw;
    height: 100%;
}

.pages section .header {
    width: 100%;
    height: 26%;
}

.pages section .header .circle {
    width: 85%;
    aspect-ratio: 1;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pages section .header .circle .title {
    width: 100%;
    height: 25%;

    position: absolute;
    top: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pages section .header .circle .title h1 {
    color: #fff;
    font-size: 45px;
    text-align: center;
}

.pages section .header .circle .title p {
    color: #fff;
    font-size: 18px;
    text-align: center;
}





.plan{
    left: 150vw;
    transition: .5s;
}


.plan .activities
{
    margin-top: 50%;

    width: 100%;
    height: 45%;

    display: flex;
    justify-content: center;
}

.plan .activities .content
{
    width: 100%;
    height: 100%;
    
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;
}



.plan .activities .activity
{
    width: 90%;
    height: 125px;
    min-height: 125px;
    background: linear-gradient(45deg, rgba(244, 133, 145, 1) 0%, rgba(244, 99, 114, 1) 100%);
    border-radius: 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin: 10px;
}

.plan .activities .activity .title
{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.plan .activities .activity .title h1
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    margin-right: 5px;
    margin-top: 5px;
    width: 90%;
    height: 100%;
    color: #fff;
    font-size: 25px;
    text-align: left;
    margin-left: 2px;
}

.plan .activities .activity .title p 
{
    color: #fff;
    width: 10%;
    font-size: 15px;
    text-align: center;
}

.plan .activities .activity p {
    color: #fff;
    font-size: 10px;
    text-align: center;
}

.plan .activities .activity .info
{
    margin-bottom: 5px;

    width: 90%;
    height: 35%;

    display: flex;
    flex-direction: column;
}

.plan .activities .activity .info .text
{
    display:  flex;
    align-items: center;
    justify-content: center;
}

.plan .activities .activity .info .text p
{
    width: 50%;
    font-size: 15px;
}

.plan .activities .activity .info .text .current
{
    text-align: left;
}

.plan .activities .activity .info .text .goal
{
    text-align: right;
}

.plan .activities .activity .info .progress-bar
{
    width: 100%;
    height: 50%;
    background-color: #fff;

    border-radius: 50px;
    
    display: flex;
    align-items: center;
}

.plan .activities .activity .info .progress-bar .progress
{
    margin-left: 1.5%;
    height: 50%;
    
    border-radius: 50px;

    background: linear-gradient(45deg, rgba(244, 133, 145, 1) 0%, rgba(244, 99, 114, 1) 100%);
}

.plan .create-activity
{
    margin-top: 25px;

    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
}

.plan .create-activity button 
{
    height: 100%;
    aspect-ratio: 1;
    
    border-radius: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: linear-gradient(45deg, #13547a 0%, #80d0c7 100%);
}

.plan .create-activity button i {
    color: #fff;
    font-size: 25px;
}




.account 
{
    left: 150vw;
    transition: .5s;
}


.home{
    left: -150vw;
    transition: .5s;
}


.home .header{
    width: 100%;
    height: 26%;
}

.home .header .circle{
    width: 101%;
    aspect-ratio: 1;
    border-radius: 50%;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .header .circle .title
{
    width: 100%;
    height: 25%;
    
    position: absolute;
    top: 55%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .header .circle .title h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.home .header .circle .title p{
    color: #fff;
    font-size: 20px;
    text-align: center;
}




.add-activity-page .header .circle .title .name
{
    font-size: 37px;
}

.add-activity-page .main
{
    margin-top: 50%;
    
    width: 100%;
    height: 60%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-activity-page .main div
{
    margin: 1.5%;
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-activity-page .main div p{
    font-size: 20px;
    margin: 5px;
}

.add-activity-page .main .name input
{
    width: 50%;
    height: 100%;
    text-align: center;
    
    border:#13547a 2px solid;
    border-radius: 150px;

    font-size: 20px;
}

.add-activity-page .main .goal input
{
    width: 20%;
    height: 100%;
    text-align: center;
    
    border: #13547a 2px solid;
    border-radius: 150px;
    font-size: 20px;
}

.add-activity-page .main .repeats input
{
    height: 100%;
    aspect-ratio: 1;
    
    border: #13547a 2px solid;
    border-radius: 150px;
}

.add-activity-page .main .expire-date input
{
    height: 100%;
    width: 40%;
    
    text-align: center;
    
    border: #13547a 2px solid;
    border-radius: 150px;
    font-size: 18px;
}

.add-activity-page .main .repeat-period select
{
    height: 100%;
    width: 40%;
    
    text-align: center;
    
    border: #13547a 2px solid;
    border-radius: 150px;
    font-size: 18px;
}


.add-activity-page .add-activity {
    margin-top: -25%;
    
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
}

.add-activity-page .add-activity button {
    height: 100%;
    aspect-ratio: 1;

    border-radius: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: linear-gradient(45deg, #13547a 0%, #80d0c7 100%);
}

.add-activity-page .add-activity button i {
    color: #fff;
    font-size: 25px;
}



.edit-activity-page .header .circle .title .name
{
    font-size: 37px;
}

.edit-activity-page .buttons
{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -22%;
    width: 100%;
    height: 7%;
}


.edit-activity-page .buttons div {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.edit-activity-page .buttons .remove-activity button {
    height: 100%;
    aspect-ratio: 1;

    border-radius: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: linear-gradient(45deg, rgb(253, 44, 56) 3.3%, rgb(176, 2, 12) 98.4%);
}

.edit-activity-page .buttons .save-activity button {
    height: 100%;
    aspect-ratio: 1;

    border-radius: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: linear-gradient(45deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

.edit-activity-page .buttons div button i {
    color: #fff;
    font-size: 25px;
}


.edit-activity-page .main {
    margin-top: 50%;

    width: 100%;
    height: 60%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.edit-activity-page .main div {
    margin: 1.5%;
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.edit-activity-page .main div p {
    font-size: 19px;
    margin: 5px;
}

.edit-activity-page .main .name input {
    width: 50%;
    height: 100%;
    text-align: center;

    border: #13547a 2px solid;
    border-radius: 150px;

    font-size: 19px;
}

.edit-activity-page .main .goal input {
    width: 20%;
    height: 100%;
    text-align: center;

    border: #13547a 2px solid;
    border-radius: 150px;
    font-size: 19px;
}

.edit-activity-page .main .repeats input {
    height: 100%;
    aspect-ratio: 1;

    border: #13547a 2px solid;
    border-radius: 150px;
}

.edit-activity-page .main .expire-date input {
    height: 100%;
    width: 40%;

    text-align: center;

    border: #13547a 2px solid;
    border-radius: 150px;
    font-size: 15px;
}

.edit-activity-page .main .repeat-period select {
    height: 100%;
    width: 40%;

    text-align: center;

    border: #13547a 2px solid;
    border-radius: 150px;
    font-size: 15px;
}


.edit-activity-page .main .current .info {
    margin-top: 10px;

    width: 50%;
    height: 80%;

    display: flex;
    flex-direction: column;
}

.edit-activity-page .main .current .info .text 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-bottom: 10px;
}

.edit-activity-page .main .current .info .text .goal {
    width: 70%;
    font-size: 15px;
}

.edit-activity-page .main .current .info .text .current {
    font-size: 15px;
    padding: 2px 5px;
    width: 20%;
    border: #13547a 2px solid;
    border-radius: 150px;
}

.edit-activity-page .main .current .info .text .current {
    text-align: left;
}

.edit-activity-page .main .current .info .text .goal {
    text-align: right;
}

.edit-activity-page .main .current .info .progress-bar {
    width: 100%;
    height: 100%;
    background-color: #fff;

    border-radius: 50px;

    display: block;
}

.edit-activity-page .main .current .info .progress-bar .progress {
    margin-left: 3px;

    height: calc(100% - 6px);

    border-radius: 50px;

    background: linear-gradient(45deg, rgba(244, 133, 145, 1) 0%, rgba(244, 99, 114, 1) 100%);
}

.edit-activity-page .main .current .buttons
{
    height: 70%;
    width: 40%;
    flex-direction: row;
}

.edit-activity-page .main .current .buttons div
{
    height: 100%;
}


.edit-activity-page .buttons .remove-current button {
    height: 100%;
    aspect-ratio: 1;

    border-radius: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: linear-gradient(45deg, rgb(253, 44, 56) 3.3%, rgb(176, 2, 12) 98.4%);
}

.edit-activity-page .buttons .add-current button {
    height: 100%;
    aspect-ratio: 1;

    border-radius: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: linear-gradient(45deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}






.navbar{
    height: 8%;
    width: 100vw;
        
    background: linear-gradient(45deg, rgba(244, 133, 145, 1) 0%, rgba(244, 99, 114, 1) 100%);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 6%;
    left: 0;

    transition: color 0.5s;
}

.navbar .bar{
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    list-style: none;
}

.navbar .bar button{
    height: 90%;
    aspect-ratio: 1;
    border-radius: 150px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: rgba(244, 133, 145, 0);

    transition: .25s;
    outline-width: 35px;
    outline-color: #edf0f7;
}

.navbar .bar button i{
    color: #fff;
    font-size: 25px;
}

.navbar .bar .selected{
    margin-bottom: 65px;
    outline: 12px solid #edf0f7;

    transition: .5s;
}