@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Quicksand";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #edf0f7;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;

    max-height: -webkit-fill-available;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pages{
    width: fit-content;
    height: 92%;
}

.pages section{
    position: absolute;
    width: 100vw;
    height: 100%;
}




.plan{
    left: 150vw;
    transition: .5s;
}

.plan.selected{
    left: 0;
    transition: .5s;
}


.plan .header {
    width: 100%;
    height: 26%;
}

.plan .header .circle {
    width: 85%;
    aspect-ratio: 1;
    background: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
    border-radius: 50%;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plan .header .circle .title {
    width: 100%;
    height: 25%;

    position: absolute;
    top: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plan .header .circle .title h1 {
    color: #fff;
    font-size: 45px;
    text-align: center;
}

.plan .header .circle .title p {
    color: #fff;
    font-size: 18px;
    text-align: center;
}




.settings {
    left: 150vw;
    transition: .5s;
}

.settings.selected {
    left: 0;
    transition: .5s;
}


.settings .header {
    width: 100%;
    height: 26%;
}

.settings .header .circle {
    width: 85%;
    aspect-ratio: 1;
    background: linear-gradient(45deg, #0ba360 0%, #3cba92 100%);
    border-radius: 50%;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.settings .header .circle .title {
    width: 100%;
    height: 25%;

    position: absolute;
    top: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings .header .circle .title h1 {
    color: #fff;
    font-size: 45px;
    text-align: center;
}

.settings .header .circle .title p {
    color: #fff;
    font-size: 18px;
    text-align: center;
}






.home{
    left: -150vw;
    transition: .5s;
}

.home.selected{
    left: 0;
    transition: .5s;
}


.home .header{
    width: 100%;
    height: 26%;
}

.home .header .circle{
    width: 102%;
    aspect-ratio: 1;
    background: linear-gradient(45deg, rgba(244, 133, 145, 1) 0%, rgba(244, 99, 114, 1) 100%);
    border-radius: 50%;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .header .circle .title
{
    width: 100%;
    height: 25%;
    
    position: absolute;
    top: 55%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .header .circle .title h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.home .header .circle .title p{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.navbar{
    height: 8%;
    width: 100vw;
        
    background: linear-gradient(45deg, rgba(244, 133, 145, 1) 0%, rgba(244, 99, 114, 1) 100%);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 3%;

    transition: color 0.5s;
}

.navbar .bar{
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    list-style: none;
}

.navbar .bar button{
    height: 90%;
    aspect-ratio: 1;
    border-radius: 150px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: rgba(244, 133, 145, 0);

    transition: .25s;
    outline-width: 35px;
    outline-color: #edf0f7;
}

.navbar .bar button i{
    color: #fff;
    font-size: 25px;
}

.navbar .bar .selected{
    margin-bottom: 65px;
    outline: 12px solid #edf0f7;

    transition: .5s;
}